
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<head>
    <style>
        td {
            text-align: right;
        }
    </style>
</head>

<div class="actions">
    <a asp-action="Lectures_Create">Statistics</a>
</div>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Questions Test
            </td>
            <td>
                All/On/Off questions.
            </td>
            <td style="text-align:right">
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_questions_test_all</span>
                    <span class="mdl-chip__text">All</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_questions_test_on</span>
                    <span class="mdl-chip__text">On</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_questions_test_off</span>
                    <span class="mdl-chip__text">Off</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Questions Correct
            </td>
            <td>
                All/On/Off questions.
            </td>
            <td style="text-align:right">
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_questions_correct_all</span>
                    <span class="mdl-chip__text">All</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_questions_correct_on</span>
                    <span class="mdl-chip__text">On</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_questions_correct_off</span>
                    <span class="mdl-chip__text">Off</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Buggy
            </td>
            <td>
                Hatalı soru bildirimleri.
            </td>
            <td style="text-align:right">
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_buggy_all</span>
                    <span class="mdl-chip__text">All</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                Accounts
            </td>
            <td>
                Hesaplar
            </td>
            <td style="text-align:right">
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_account_all</span>
                    <span class="mdl-chip__text">All</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_account_on</span>
                    <span class="mdl-chip__text">Active</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_account_pending</span>
                    <span class="mdl-chip__text">Pending</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@ViewBag.count_account_vip</span>
                    <span class="mdl-chip__text">Vip</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>

