@model IEnumerable<QuestionBank.Models.QuestionsCorrects>

@{
    ViewData["Title"] = "Questions_Corrects";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="actions">
    <a asp-action="Lectures_Create">Questions Corrects</a>
</div>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="mdl-chip">
                            <span class="mdl-chip__text">On</span>
                        </span>
                    }
                    @if (item.Status == 0)
                    {
                        <span class="mdl-chip">
                            <span class="mdl-chip__text">Off</span>
                        </span>
                    }

                </td>
                <td>
                    <a asp-action="Questions_Insert" asp-controller="home" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
